# Apple TV 中文字幕
# v260904b；F1 26 赛季前12站正赛回放中文字幕和 Apple TV 33 部会员电影中文字幕；使用需开启 MITM 并安装和信任证书；GitHub：rexchen1803。

hostname = hls-amt.itunes.apple.com, uts-api.itunes.apple.com, vod-ap-amt.tv.apple.com, vod-fa-amt.tv.apple.com, vod-ak-amt.tv.apple.com

^https:\/\/uts-api\.itunes\.apple\.com\/uts\/(?:v1|v2|v3)\/ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-uts-redirect.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1337486392_A1881724926_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-01-australian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1337522687_A1881777941_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-02-chinese.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1326620577_A1881763666_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-03-japanese.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1364568578_A1881733891_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-04-miami.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1392837560_A1881753363_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-05-canadian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1411825097_A1881742204_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-06-monaco.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1413846083_A1881690171_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-07-barcelona-catalunya.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1429344944_A1882150267_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-08-austrian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1436852938_A1881739464_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-09-british.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1457248952_A1881786635_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-10-belgian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1461869625_A1881700068_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-11-hungarian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1478680801_A1882152939_en_subtitles_V2-(?:0|[1-9]|[1-9]\d|1\d{2}|2[0-4]\d|25[0-3])\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-f1-12-netherlands.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1982-et-the-extra-terrestrial\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-1982-et-the-extra-terrestrial.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1982-et-the-extra-terrestrial\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-1982-et-the-extra-terrestrial.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1982-et-the-extra-terrestrial\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-1982-et-the-extra-terrestrial.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1997-titanic\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-1997-titanic.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1997-titanic\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-1997-titanic.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1997-titanic\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-1997-titanic.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1999-the-sixth-sense\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-1999-the-sixth-sense.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1999-the-sixth-sense\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-1999-the-sixth-sense.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1999-the-sixth-sense\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-1999-the-sixth-sense.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2000-charlies-angels\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2000-charlies-angels.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2000-charlies-angels\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2000-charlies-angels.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2000-charlies-angels\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2000-charlies-angels.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2001-zoolander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2001-zoolander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2001-zoolander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2001-zoolander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2001-zoolander\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2001-zoolander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2002-the-bourne-identity\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2002-the-bourne-identity.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-bourne-identity\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2002-the-bourne-identity.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-bourne-identity\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2002-the-bourne-identity.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2002-the-rookie\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2002-the-rookie.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-rookie\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2002-the-rookie.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-rookie\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2002-the-rookie.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-i-robot\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2004-i-robot.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-i-robot\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2004-i-robot.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-i-robot\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2004-i-robot.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-the-aviator\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2004-the-aviator.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-the-aviator\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2004-the-aviator.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-the-aviator\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2004-the-aviator.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2007-zodiac\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2007-zodiac.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-zodiac\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2007-zodiac.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-zodiac\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2007-zodiac.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-forgetting-sarah-marshall\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2008-forgetting-sarah-marshall.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-forgetting-sarah-marshall\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2008-forgetting-sarah-marshall.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-forgetting-sarah-marshall\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2008-forgetting-sarah-marshall.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2009-the-proposal\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2009-the-proposal.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-proposal\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2009-the-proposal.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-proposal\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2009-the-proposal.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2011-mission-impossible-ghost-protocol\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2011-mission-impossible-ghost-protocol.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2011-mission-impossible-ghost-protocol\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2011-mission-impossible-ghost-protocol.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2011-mission-impossible-ghost-protocol\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2011-mission-impossible-ghost-protocol.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-21-jump-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2012-21-jump-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-21-jump-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2012-21-jump-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-21-jump-street\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2012-21-jump-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-looper\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2012-looper.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-looper\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2012-looper.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-looper\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2012-looper.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2014-gone-girl\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2014-gone-girl.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2014-gone-girl\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2014-gone-girl.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2014-gone-girl\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2014-gone-girl.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2015-the-martian\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2015-the-martian.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2015-the-martian\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2015-the-martian.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2015-the-martian\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2015-the-martian.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2016-arrival\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-master-2016-arrival.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2016-arrival\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-playlist-2016-arrival.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2016-arrival\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v15-vtt-2016-arrival.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2013-the-wolf-of-wall-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2013-the-wolf-of-wall-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-the-wolf-of-wall-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2013-the-wolf-of-wall-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-the-wolf-of-wall-street\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2013-the-wolf-of-wall-street.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2013-her\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2013-her.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-her\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2013-her.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-her\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2013-her.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2010-the-social-network\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2010-the-social-network.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-the-social-network\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2010-the-social-network.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-the-social-network\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2010-the-social-network.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2003-master-and-commander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2003-master-and-commander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-master-and-commander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2003-master-and-commander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-master-and-commander\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2003-master-and-commander.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-zero-dark-thirty\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2012-zero-dark-thirty.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-zero-dark-thirty\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2012-zero-dark-thirty.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-zero-dark-thirty\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2012-zero-dark-thirty.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2003-school-of-rock\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2003-school-of-rock.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-school-of-rock\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2003-school-of-rock.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-school-of-rock\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2003-school-of-rock.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1986-ferris-buellers-day-off\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-1986-ferris-buellers-day-off.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1986-ferris-buellers-day-off\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-1986-ferris-buellers-day-off.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1986-ferris-buellers-day-off\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-1986-ferris-buellers-day-off.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2007-superbad\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2007-superbad.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-superbad\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2007-superbad.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-superbad\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2007-superbad.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1992-a-league-of-their-own\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-1992-a-league-of-their-own.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1992-a-league-of-their-own\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-1992-a-league-of-their-own.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1992-a-league-of-their-own\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-1992-a-league-of-their-own.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-troy\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2004-troy.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-troy\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2004-troy.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-troy\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2004-troy.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2005-war-of-the-worlds\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2005-war-of-the-worlds.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2005-war-of-the-worlds\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2005-war-of-the-worlds.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2005-war-of-the-worlds\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2005-war-of-the-worlds.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-mamma-mia\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2008-mamma-mia.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-mamma-mia\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2008-mamma-mia.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-mamma-mia\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2008-mamma-mia.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2010-easy-a\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2010-easy-a.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-easy-a\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2010-easy-a.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-easy-a\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2010-easy-a.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-definitely-maybe\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2008-definitely-maybe.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-definitely-maybe\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2008-definitely-maybe.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-definitely-maybe\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2008-definitely-maybe.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2009-the-informant\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-master-2009-the-informant.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-informant\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-playlist-2009-the-informant.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-informant\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-safe-full-v33-vtt-2009-the-informant.js
^https:\/\/vod-(?:ap|fa|ak)-amt\.tv\.apple\.com\/itunes-assets\/(?:[^\/]+\/)+P1220541004_A960891136_fr-FR_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/dd1cbc7b4a0f1ecd9e1b1a431fad07dd610cf2cd/payloads/quantumultx-v260904b/avsv260904b-surge-formal-v9-movie-2014-interstellar.js
