# Apple TV 中文字幕
# v260904b；F1 26 赛季前12站正赛回放中文字幕和 Apple TV 33 部会员电影中文字幕；使用需开启 MITM 并安装和信任证书；GitHub：rexchen1803。

hostname = hls-amt.itunes.apple.com, uts-api.itunes.apple.com, vod-ap-amt.tv.apple.com, vod-fa-amt.tv.apple.com, vod-ak-amt.tv.apple.com

^https:\/\/uts-api\.itunes\.apple\.com\/uts\/(?:v1|v2|v3)\/ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/index.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1337486392_A1881724926_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/01-australian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1337522687_A1881777941_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/02-chinese.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1326620577_A1881763666_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/03-japanese.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1364568578_A1881733891_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/04-miami.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1392837560_A1881753363_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/05-canadian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1411825097_A1881742204_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/06-monaco.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1413846083_A1881690171_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/07-barcelona-catalunya.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1429344944_A1882150267_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/08-austrian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1436852938_A1881739464_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/09-british.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1457248952_A1881786635_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/10-belgian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1461869625_A1881700068_en_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/11-hungarian.js
^https?:\/\/hls-amt\.itunes\.apple\.com\/itunes-assets\/HLSSportsVodVideo\d+\/v4\/(?:[^\/]+\/)+P1478680801_A1882152939_en_subtitles_V2-(?:0|[1-9]|[1-9]\d|1\d{2}|2[0-4]\d|25[0-3])\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/f1/12-netherlands.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1982-et-the-extra-terrestrial\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1982-et-the-extra-terrestrial/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1982-et-the-extra-terrestrial\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1982-et-the-extra-terrestrial/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1982-et-the-extra-terrestrial\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1982-et-the-extra-terrestrial/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1997-titanic\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1997-titanic/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1997-titanic\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1997-titanic/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1997-titanic\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1997-titanic/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1999-the-sixth-sense\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1999-the-sixth-sense/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1999-the-sixth-sense\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1999-the-sixth-sense/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1999-the-sixth-sense\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1999-the-sixth-sense/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2000-charlies-angels\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2000-charlies-angels/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2000-charlies-angels\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2000-charlies-angels/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2000-charlies-angels\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2000-charlies-angels/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2001-zoolander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2001-zoolander/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2001-zoolander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2001-zoolander/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2001-zoolander\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2001-zoolander/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2002-the-bourne-identity\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-bourne-identity/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-bourne-identity\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-bourne-identity/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-bourne-identity\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-bourne-identity/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2002-the-rookie\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-rookie/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-rookie\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-rookie/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2002-the-rookie\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2002-the-rookie/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-i-robot\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-i-robot/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-i-robot\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-i-robot/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-i-robot\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-i-robot/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-the-aviator\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-the-aviator/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-the-aviator\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-the-aviator/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-the-aviator\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-the-aviator/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2007-zodiac\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-zodiac/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-zodiac\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-zodiac/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-zodiac\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-zodiac/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-forgetting-sarah-marshall\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-forgetting-sarah-marshall/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-forgetting-sarah-marshall\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-forgetting-sarah-marshall/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-forgetting-sarah-marshall\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-forgetting-sarah-marshall/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2009-the-proposal\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-proposal/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-proposal\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-proposal/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-proposal\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-proposal/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2011-mission-impossible-ghost-protocol\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2011-mission-impossible-ghost-protocol/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2011-mission-impossible-ghost-protocol\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2011-mission-impossible-ghost-protocol/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2011-mission-impossible-ghost-protocol\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2011-mission-impossible-ghost-protocol/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-21-jump-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-21-jump-street/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-21-jump-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-21-jump-street/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-21-jump-street\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-21-jump-street/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-looper\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-looper/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-looper\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-looper/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-looper\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-looper/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2014-gone-girl\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2014-gone-girl/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2014-gone-girl\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2014-gone-girl/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2014-gone-girl\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2014-gone-girl/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2015-the-martian\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2015-the-martian/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2015-the-martian\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2015-the-martian/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2015-the-martian\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2015-the-martian/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2016-arrival\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2016-arrival/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2016-arrival\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2016-arrival/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2016-arrival\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2016-arrival/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2013-the-wolf-of-wall-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-the-wolf-of-wall-street/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-the-wolf-of-wall-street\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-the-wolf-of-wall-street/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-the-wolf-of-wall-street\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-the-wolf-of-wall-street/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2013-her\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-her/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-her\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-her/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2013-her\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2013-her/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2010-the-social-network\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-the-social-network/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-the-social-network\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-the-social-network/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-the-social-network\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-the-social-network/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2003-master-and-commander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-master-and-commander/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-master-and-commander\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-master-and-commander/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-master-and-commander\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-master-and-commander/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2012-zero-dark-thirty\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-zero-dark-thirty/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-zero-dark-thirty\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-zero-dark-thirty/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2012-zero-dark-thirty\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2012-zero-dark-thirty/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2003-school-of-rock\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-school-of-rock/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-school-of-rock\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-school-of-rock/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2003-school-of-rock\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2003-school-of-rock/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1986-ferris-buellers-day-off\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1986-ferris-buellers-day-off/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1986-ferris-buellers-day-off\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1986-ferris-buellers-day-off/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1986-ferris-buellers-day-off\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1986-ferris-buellers-day-off/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2007-superbad\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-superbad/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-superbad\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-superbad/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2007-superbad\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2007-superbad/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/1992-a-league-of-their-own\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1992-a-league-of-their-own/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1992-a-league-of-their-own\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1992-a-league-of-their-own/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/1992-a-league-of-their-own\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/1992-a-league-of-their-own/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2004-troy\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-troy/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-troy\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-troy/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2004-troy\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2004-troy/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2005-war-of-the-worlds\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2005-war-of-the-worlds/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2005-war-of-the-worlds\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2005-war-of-the-worlds/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2005-war-of-the-worlds\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2005-war-of-the-worlds/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-mamma-mia\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-mamma-mia/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-mamma-mia\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-mamma-mia/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-mamma-mia\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-mamma-mia/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2010-easy-a\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-easy-a/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-easy-a\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-easy-a/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2010-easy-a\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2010-easy-a/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2008-definitely-maybe\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-definitely-maybe/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-definitely-maybe\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-definitely-maybe/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2008-definitely-maybe\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2008-definitely-maybe/subtitle.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_master\/2009-the-informant\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-informant/manifest.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-informant\/index\.m3u8(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-informant/playlist.js
^https:\/\/hls-amt\.itunes\.apple\.com\/__apple_movie_zh\/2009-the-informant\/full\.webvtt(?:\?.*)?$ url script-echo-response https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2009-the-informant/subtitle.js
^https:\/\/vod-(?:ap|fa|ak)-amt\.tv\.apple\.com\/itunes-assets\/(?:[^\/]+\/)+P1220541004_A960891136_fr-FR_subtitles_V2-\d+\.webvtt(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/rexchen1803/apple-video-subtitles/da70930d24e307465b46c96cc750afe43556a4f5/payloads/quantumultx/movies/2014-interstellar/subtitle.js
